body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    /* height: 80vh; */
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin: 0 0 10px 0;
}

footer{
    background: #a7a7a7;
    text-align: center;
    margin-top: auto;
}

h1 {
    margin: 0;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 97%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#summary-results > div{
    flex:1;
    margin-right: 30px;
    box-sizing: border-box;
}

.results {
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.loading.active {
    display: block;
}